// -------------colors


$dark-blue:#181E4B;  //for heading
$medium-blue:#212832;  // for nav
$light-blue:#5E6282;  //for description(para)

$orange:#DF6951;
$yellow:#F1A501;
$light-purple:#DFD7F9;
$dark-grey:#686D77;
$white:#fff;
$black:#000;

// -----------------grid
$max-width:124rem;