.category {
  margin-top: 10rem;
  padding: 3rem 0 5rem 0;
}
.destination {
        margin-top: 10rem;
        padding: 3rem 0 5rem 0;
}
.booking{
  margin-top: 10rem;
        padding: 3rem 0 5rem 0;
}
.testimonial{
  margin-top: 10rem;
  padding: 3rem 0 5rem 0;
}
.cta{
  margin-top: 3rem;
  padding: 3rem 0 5rem 0;
}
.footer{
  margin-top: 10rem;
  padding: 3rem 0 5rem 0;
}
